/*
fonts, background colors, regular stuff
*/
@media screen and (max-width: 1200px) {
    .project-desc.creation-date{
        position: static !important;
    }
    .project-box{
        height: auto !important;
    }
}

html{
    font-family: monospace;
    background-color: rgb(43, 43, 43);
    color: rgb(218, 187, 128);
    font-size: larger;
}
body{
    width: 100%;
    margin: auto;
    white-space: nowrap;
}

.header{
    background-color:rgb(22, 22, 22);
    margin: auto;
}
.header-content{
    width: 80%;
    margin: auto;
    height: 10em;
    display: flex;
}
.headerhalf{
    font-size: large;
    width: 50%;
    margin:auto;
    padding-top:1em;
    padding-bottom:1em;
    display: inline-block;
}

a{
    color: rgb(218, 187, 128);
    text-decoration: none;
    overflow: hidden;
}
a:visited{
    color: rgb(218, 187, 128);
}
a:hover{
    color: white
}

.contacts{
    text-align: right;
    filter: sepia(1);
}
.about-button{
    width: 2em;
    vertical-align: middle;
}
.newtab-icon{
    display: inline-block;
    width: 2em;
    text-align: right;
    padding: 1em;
    opacity: 50%;
}

/*
flex chaos
*/
.projects-section{
    width: 80%;
    margin: auto;
    padding-bottom: 1em;
}
.projects-table{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: flex-start;
}
.project-box{
    flex-basis: 100%;
    white-space: normal;
    width:auto;
    height: 11.5em;
    background-color: rgb(22, 22, 22);
    border-style: solid;
    border-color: rgb(218, 187, 128);
    text-align: justify;
    box-sizing: border-box;
}
.project-title{
    text-align: left;
    padding: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}
.project-desc{
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-block-start: 0;
    max-height: 3.5em;
    overflow: hidden;
}
.project-desc.creation-date{
    box-sizing: border-box;
    bottom: 0;
    position: absolute;
}
.project-info-container{
    position: relative;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 100%;
}
.project-div-half{
    height: fit-content;
    margin: 0;
    white-space: nowrap;
}
.project-div-half.left{
    width: 75%;
}
.project-div-half.right{
    width: 25%;
    text-align: right;
}
