html{
    font-family: monospace;
    background-color: rgb(43, 43, 43);
    color: rgb(218, 187, 128);
    font-size: larger;
}
body{
    width: 100%;
    margin: auto;
    white-space: nowrap;
}
.header{
    background-color:rgb(22, 22, 22);
    margin: auto;
}
.header-content{
    width: 80%;
    margin: auto;
}
.headerhalf{
    font-size: large;
    width: 50%;
    margin:auto;
    padding-top:1em;
    padding-bottom:1em;
    display: inline-block;
    vertical-align: middle;
}
.projects-section{
    width: 80%;
    margin: auto;
    padding-bottom: 1em;
}
.projects-table{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;
}
.project-div{
    flex: 1 1 300px;
    white-space: normal;
    min-width: 20em;
    /*width: 48%;*/
    height: 14em;
    background-color: rgb(22, 22, 22);
    border-style: solid;
    border-color: rgb(218, 187, 128);
    text-align: justify;
}
.project-title{
    text-align: left;
    padding: 1em;
}
.project-desc{
    padding-right: 5%;
    padding-left: 5%;
    margin-block-start: 0;
}
.contacts{
    text-align: right;
    filter: invert(1) sepia(1);
}
.about-button{
    width: 2em;
    vertical-align: middle;
}
a{
    text-decoration: none;
    overflow: hidden;
}
a:visited{
    color: rgb(218, 187, 128);
}
a:hover{
    color: white
}
.newtab-icon{
    display: inline-block;
    width: 2em;
    vertical-align: middle;
    text-align: right;
    filter: invert(1);
    padding: 1em;
}
.project-div-half{
    width: 50%;
    display: inline-block;
    margin: auto;
    white-space: nowrap;
    text-align: right;
}