html{
    font-family: monospace;
    background-color: antiquewhite;
    font-size: larger;
}
body{
    width: 80%;
    margin: auto;
    white-space: nowrap;
}
.header{
    font-size: large;
    width: 50%;
    margin:auto;
    padding-top:1em;
    display: inline-block;
}
.projects-table{
    margin: auto;
    padding-bottom: 1em;
}
.contact{
    text-align: right;
}
.contact-button{
    width: 2em;
    vertical-align: middle;
}
a{
    text-decoration: none;
}